## Problem 1 - Print the following pattern. Write a program to use for loop to print the following reverse number pattern.
    5 4 3 2 1
    4 3 2 1
    3 2 1
    2 1
    1

In [8]:
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(j,end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

## Problem 2: Print the following pattern.
    *
    * *
    * * *
    * * * *
    * * * * *
    * * * *
    * * *
    * *
    *

In [11]:
# Upper-part
for i in range(1,6):
    for j in range(i):
        print("*",end=" ")
    print()
# Lower-part
for i in range(5,0,-1):
    for j in range(i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * *
* * * *
* * *
* *
*

## Problem 3:Write a program to pring the following pattern
        *
      * * *
    * * * * *

In [13]:
rows = int(input("Enter the number of Rows: "))
for i in range(rows):
    spaces = (rows-i-1)*2
    print(" " * spaces,end="")
    print("* " * (2*i+1))

Enter the number of Rows:  5

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

## Problem 4:Write a program to print the following pattern
       1
       2 1
       3 2 1
       4 3 2 1
       5 4 3 2 1

In [14]:
for i in range(1,6):
    for j in range(i,0,-1):
        print(j,end=" ")
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

## Problem 5: Write a Python Program to Find the Sum of the Series till the nth term:
    1 + x^2/2 + x^3/3 + â€¦ x^n/n ,n will be provided by the user

In [17]:
X = float(input("Enter the value of X: "))
n = int(input("Enter the value of n: "))
sum_series = 1
for i in range(2, n + 1):
    term = (X ** i) / i
    sum_series += term
print(f"Sum of the series = {sum_series}")

Enter the value of X:  1
Enter the value of n:  2

Sum of the series = 1.5

## Problem 6: The natural logarithm can be approximated by the following series.
## (x-1)/x + (1/2)((x-1)/x)^2 + (1/2)((x-1)/x)^3 + (1/2)((x-1)/x)^4.........
    If x is input through the keyboard, write a program to calculate the sum of the first seven terms of this series.

In [19]:
x1 = float(input("Enter the value of x: "))
n1 = int(input("Enter number of terms (n): "))

u = (x1 - 1) / x1 
sum_series = u      
for i in range(2, n1 + 1):
    term = 0.5 * (u ** i)
    sum_series += term

print(f"Sum of {n1} terms = {sum_series}")

Enter the value of x:  5
Enter number of terms (n):  7

Sum of 7 terms = 1.9805696000000004

## Problem 7 - Find the sum of the series upto n terms.
    Write a program to calculate the sum of series up to n term. 
    For example, if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690. 
    Take the user input and then calculate. And the output style should match which is given in the example.

In [23]:
terms = int(input("Enter thr number of terms: "))
current_term = 0
total = 0
series = ""

for i in range(1, terms + 1):
    current_term = current_term * 10 + 2
    total += current_term
    series += str(current_term)

    if i != terms:
        series += " + "
print(series, "=", total)

Enter thr number of terms:  5

2 + 22 + 222 + 2222 + 22222 = 24690

## Problem 8: Write a program to print all the unique combinations of 1,2,3 and 4
    1 2 3 4
    1 2 4 3
    1 3 2 4
    1 3 4 2
    1 4 2 3
    1 4 3 2
    2 1 3 4
    2 1 4 3
    2 3 1 4
    2 3 4 1
    2 4 1 3
    .
    .
    and so on

In [24]:
nums = [1, 2, 3, 4]

for a in nums:
    for b in nums:
        for c in nums:
            for d in nums:
                if a != b and a != c and a != d and b != c and b != d and c != d:
                    print(a, b, c, d)

1 2 3 4
1 2 4 3
1 3 2 4
1 3 4 2
1 4 2 3
1 4 3 2
2 1 3 4
2 1 4 3
2 3 1 4
2 3 4 1
2 4 1 3
2 4 3 1
3 1 2 4
3 1 4 2
3 2 1 4
3 2 4 1
3 4 1 2
3 4 2 1
4 1 2 3
4 1 3 2
4 2 1 3
4 2 3 1
4 3 1 2
4 3 2 1

## Problem 9: Write a program that will take a decimal number as input and prints out the binary equivalent of the number

### Method-1 (Simple method by using remainder)

In [25]:
num = int(input("Enter a decimal number: "))

binary = ""
n = num

if n == 0:
    binary = "0"
else:
    while n > 0:
        remainder = n % 2
        binary = str(remainder) + binary
        n //= 2

print("Binary equivalent of", num, "is:", binary)

Enter a decimal number:  3

Binary equivalent of 3 is: 11

### Method-2 (By using bin() )

In [26]:
num = int(input("Enter a decimal number: "))
print("Binary:", bin(num)[2:])

Enter a decimal number:  3

Binary: 11

### Method-3 (collect remainder in list, then reverse the list)

In [27]:
num = int(input("Enter a decimal number: "))
n = num
bits = []
if n == 0:
    print("Binary:", 0)
else:
    while n > 0:
        bits.append(n % 2)   
        n //= 2              
    bits.reverse()           
    for bit in bits:
        print(bit, end="")

Enter a decimal number:  3

11

## Problem 10: Write a program that will take 2 numbers as input and prints the LCM and HCF of those 2 numbers

### Method 1: By using Loop

In [28]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

# HCF
hcf = 1
for i in range(1, min(a, b) + 1):
    if a % i == 0 and b % i == 0:
        hcf = i

# LCM
lcm = (a * b) // hcf

print("HCF =", hcf)
print("LCM =", lcm)

Enter first number:  6
Enter second number:  12

HCF = 6
LCM = 12

### Method 2: Subtraction Method

In [30]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

x, y = a, b

while x != y:   
    if x > y:          
        x = x - y      
    else:
        y = y - x   

hcf = x
lcm = (a * b) // hcf  

print("HCF =", hcf)
print("LCM =", lcm)

Enter first number:  3
Enter second number:  4

HCF = 1
LCM = 12

## Problem 11: Create Short Form from initial character.
    Given a string create short form ofthe string from Initial character. Short form should be capitalised.
    Example:
       Input: Data science mentorship program
       Output: DSMP

#### METHOD 1: Character-by-character logic

In [3]:
text = "Data science mentorship program "
short = ""

for i in range(len(text)):
    if i == 0 or text[i-1] == " ":
        short += text[i].upper()

print(short)

DSMP

### METHOD 2: Using a flag

In [4]:
text = "Data science mentorship program"
short = ""
flag = True

for ch in text:
    if flag:
        short += ch.upper()
    flag = (ch == " ")

print(short)

DSMP

## Problem 12: Append second string in the middle of first string
     Input: campusx
            data
     Output: camdatapusx

### METHOD - 1: By using Slicing

In [13]:
str1 = "campusx"
str2 = "data"

mid_point = len(str1) // 2
result = str1[:mid_point] + str2 + str1[mid_point:]

print(result)

camdatapusx

### METHOD - 2: By using for-Loop

In [8]:
str1 = "campusx"
str2 = "data"

mid_point = len(str1) // 2
result = ""

for i in range(len(str1)):
    if i == mid_point:
        result += str2
    result += str1[i]

print(result)

camdatapusx

## Problem 13:Given string contains a combination of the lower and upper case letters. Write a program to arrange the characters of a string so that all lowercase letters should come first.
    Given: str1 = PyNaTive
    Expected Output: yaivePNT

### Method-1: for-loop

In [9]:
str = "PyNaTive"
lower = ""
upper = ""
for char in str:
    if char.islower():
        lower += char
    else:
        upper += char
result = lower + upper
print(result)

yaivePNT

### Method-2: Using list comprehension

In [10]:
str = "PyNaTive"
result = "".join([char for char in str if char.islower()]) + "".join([char for char in str if char.isupper()])
print(result)

yaivePNT

## Problem 14: Take a alphanumeric string input and print the sum and average of the digits that appear in the string, ignoring all other characters.
    Input: hel12304every093
    Output: Sum: 22
            Avg: 2.75

In [1]:
str = "hel12304every093"

total = 0
count = 0

for char in str:
    if char.isdigit():
        total += int(char)
        count += 1
      
avg = total / count

print("Sum:", total)
print("Avg:", avg)

Sum: 22
Avg: 2.75

### Problem 15: Removal of all characters from a string except integers
    Given: str1 = 'I am 25 years and 10 months old'
    Expected Output: 2510

#### Method-1 : By using Loop

In [2]:
str1 = 'I am 25 years and 10 months old'
output = ""
for ch in str1:
    if ch.isdigit():
        output += ch
print(output)

2510

#### Method-2 : By using RegEx

In [6]:
import re

str1 = 'I am 25 years and 10 months old'
find = (re.findall(r"\d", str1))
result = "".join(find)
print(result)

2510

## Problem 16: Check whether the string is Symmetrical.
### Statement: Given a string. the task is to check if the string is symmetrical or not. A string is said to be symmetrical if both the halves of the string are the same.
    Example 1:
     Input:- khokho
     Output:- The entered string is symmetrical

#### Method-1: By using Loop

In [11]:
s = "khokho"
n = len(s)
if n % 2 != 0:
    print("The entered string is not symmetrical")
else:
    mid = n // 2
    flag = True
    for i in range(mid):
        if s[i] != s[mid + i]:
            flag = False
            break
    if flag:
        print("The entered string is symmetrical")
    else:
        print("The entered string is not symmetrical")

The entered string is symmetrical

#### Method-2 : By using slicing

In [17]:
s = "khokho"
mid = len(s) // 2              
first_half = s[:mid]            
second_half = s[mid:]
if first_half == second_half:
    print("The entered string is symmetrical")
else:
    print("The entered string is not symmetrical")

The entered string is symmetrical

## Problem 17: Reverse words in a given String
### Statement: We are given a string and we need to reverse words of a given string.
    Example 1:
      Input: geeks quiz practice code
      Output: code practice quiz geeks
    Example 2:
      Input: my name is laxmi
      Output: laxmi is name my

#### Method-1 : Using split() and join()

In [25]:
s = "geeks quiz practice code"
words_split = s.split()
rev_words_split = words_split[::-1]
rev_s = " ".join(rev_words_split)
print(rev_s)

code practice quiz geeks

#### Method-2 : Using a for-loop + reversed()

In [30]:
s = "geeks quiz practice code"
words = s.split()
rev_s = ""
for word in reversed(words):
    rev_s += word + " "

print(rev_s)

code practice quiz geeks

#### Method-3 : Using a while-loop + indexes

In [29]:
str = "geeks quiz practice code"
words = s.split()
rev_str = ""
i = len(words) - 1
while i >= 0:
    rev_str += words[i] + " "
    i -= 1
print(rev_str)

code practice quiz geeks

## Problem 18: Find uncommon words from two Strings.
### Statement: Given two sentences as strings A and B. The task is to return a list of all uncommon words. A word is uncommon if it appears exactly once in any one of the sentences, and does not appear in the other sentence. Note: A sentence is a string of space-separated words. Each word consists only of lowercase letters.
    Example 1:
      Input: A = "apple banana mango"
             B = "banana fruits mango"
      Output: ['apple', 'fruits']

#### Method-1 : Compare lists directly

In [32]:
A = "apple banana mango"
B = "banana fruits mango"
wordsA = A.split()
wordsB = B.split()
uncommon = []
for word in wordsA:
    if word not in wordsB:
        uncommon.append(word)

for word in wordsB:
    if word not in wordsA:
        uncommon.append(word)
print(uncommon)

['apple', 'fruits']

#### Method-2 : Using Counter

In [33]:
from collections import Counter
A = "apple banana mango"
B = "banana fruits mango"
count = Counter(A.split()) + Counter(B.split())
uncommon = [word for word, freq in count.items() if freq == 1]
print(uncommon)

['apple', 'fruits']

#### Method-3 : Using Loop

In [39]:
A = "apple banana mango"
B = "banana fruits mango"
split_A = A.split()
split_B = B.split()
uncommon = []

for w in split_A:
    if split_A.count(w) == 1 and w not in split_B:
        uncommon.append(w)
        
for w in split_B:
    if split_B.count(w) == 1 and w not in split_A:
        uncommon.append(w)
print(uncommon)

['apple', 'fruits']

## Problem 19: Word location in String.
### Statement: Find a location of a word in a given sentence.
    Example 1:
      Input:
        Sentence: We can learn data science through campusx mentorship program.
        word: campusx
      Output: Location of the word is 7.
## Note- Don't use index/find functions

### Method 1: Using Loop + Counter

In [42]:
sentence = "We can learn data science through campusx mentorship program"
word = "campusx"

words = sentence.split()

position = 1
found = False
for w in words:
    if w == word:
        print("Location of the word is", position)
        found = True
        break
    position += 1

if not found:
    print("Word not found")

Location of the word is 7

### Method 2: Using while-loop

In [45]:
sentence = "We can learn data science through campusx mentorship program"
word = "campusx"

words = sentence.split()
i = 0

while i < len(words):
    if words[i] == word:
        print("Location of the word is", i+1)
        break
    i += 1

Location of the word is 7

## Problem 20: Write a program that can remove all the duplicate characters from a string. User will provide the input.

### Method 1: Using a loop

In [46]:
s = input("Enter a string: ")
result = ""

for ch in s:
    if ch not in result:
        result += ch

print("After removing duplicates:", result)

Enter a string:  SSShhuubham

After removing duplicates: Shubam